.termhead {
	color: rgb(70, 70, 70); font-family: Verdana; font-size: 18px; font-weight: bold;
}
.term_paraalign {
	text-align: justify; color: rgb(70, 70, 70); font-family: Verdana; font-size: 14px;
}
