@CHARSET "ISO-8859-1";

#steps
{
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	width: 630px;
	padding-left: 43px;
}

.stepno
{
	font-family:Verdana;
	font-size:15px;
	height:45px;
	line-height:45px;
	text-align:center;
}

.stepseparator
{
	width:55px;
	height:2px;
	background-color:#c8c8c8;
	float:left;
	margin-top:20px;
	margin-left:5px;
	margin-right:5px;
}

.stepprocess
{
	background: url(../images/step_process_circle.png) no-repeat;
	height:45px;
	width:45px;
	float:left;
	text-align:left;
	color:#fff;
	line-height:20px;
	cursor:pointer;
}

.stepnext
{
	background: url(../images/step_next_circle.png) no-repeat;
	height:45px;
	width:45px;
	float:left;
	text-align:left;
	color:#007d9b;
	line-height:20px;
	cursor:pointer;
}

.stepcompleted
{
	background: url(../images/step_completed_circle.png) no-repeat;
	height:45px;
	width:45px;
	float:left;
	text-align:left;
	color:#fff;
	line-height:20px;
	cursor:pointer;
}

.stepprocesstext
{
	float:left;
	color:#f47d01;
	width:70px;
	text-align:left;
	
}

.stepnexttext
{
	float:left;
	color:#4cb6cf;
	width:88px;
	text-align:left;
	
}

.stepcompletedtext
{
	float:left;
	color:#4cb6cf;
	width:88px;
	text-align:left;
}
