@CHARSET "ISO-8859-1" ;

.T_hading_Title
{
	color:#ee9b11;
	font-size: 18px;
}

.T_bannerContainer
{
	background: #e6dcd2 url('../images/T2_orange_bannerbgm.png');
	height: 240px;
}

#T_container
{
	background: white;
}

.T_banner_Title
{
	font-size: 70px;
	line-height: 150px;	
	color: #ee9b11;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.62);
}

.T_banner
{
	background: rgba(235, 167, 58, 0.8);
	height: 80px;
}

.T_company_logo
{
	float: left;
	line-height: 80px;
	color: #cbeed0;
	font-size: 50px;	
}

.T_company_log_image
{
	width: 82px;
	height: 82px;
	background: url("../images/T2_logo.png");
	float: left; 
}

.T_menu
{
	float: right;
	margin: 24px 0px 0px 0px;
	font-family:"Segoe UI";
	font-size:15px;
}

.T_menu li
{
	float: left;
	color: white;
	width: 82px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	cursor: pointer;
	border-radius: 15px;
}

.T_menu li:HOVER
{
	background: rgba(0, 0, 0, 0.18);
}

.T_menu li.selected
{
	background: #dee3cf;
	color:#f38e02;	
}

.T_copyrights
{
	background: #ee9b11;
	height: 100px;
	line-height: 100px;
	text-align: center;
	color: white;
	font-family:"Segoe UI";
	font-size:15px;
}

.T_banner a
{
	color: inherit;
	cursor: pointer;
	padding: 5px;
}

/* Contact Text Input  */

.text_inputbox 
{
	border:solid 2px #c8c8c8;
	margin:5px 0px 5px 10px;
	width: 270px;
	font-size: 14px;
	font-family: Segoe UI;
	padding: 5px;
	-moz-box-shadow: inset 0 0 5px #feffb5;
	-webkit-box-shadow: inset 0 0 5px #feffb5;
	box-shadow: inset 0 0 5px #feffb5;
}

#btn_contact_clear,#btn_contact_submit
{
	width: 60px;
	height: 35px;
	padding: 0px;
	font-size: 14px;
	font-weight: normal;
	font-family: Segoe UI;
	letter-spacing: 0px;
	border-radius: 5px;	
}

/* Green Button  */
.gen-btn-TOrange {
	cursor: pointer;
	border: 1px solid #db8f12;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	width: 100px;
	height: 31px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
background: #ed9b13;
background: -moz-linear-gradient(top,  #ed9b13 0%, #ed9c0d 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed9b13), color-stop(100%,#ed9c0d));
background: -webkit-linear-gradient(top,  #ed9b13 0%,#ed9c0d 100%);
background: -o-linear-gradient(top,  #ed9b13 0%,#ed9c0d 100%);
background: -ms-linear-gradient(top,  #ed9b13 0%,#ed9c0d 100%);
background: linear-gradient(to bottom,  #ed9b13 0%,#ed9c0d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed9b13', endColorstr='#ed9c0d',GradientType=0 );

}

.gen-btn-TOrange:hover {
	border: 1px solid #be7c0f;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
background: #eaaf4f;
background: -moz-linear-gradient(top,  #eaaf4f 0%, #ed9c0d 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaaf4f), color-stop(100%,#ed9c0d));
background: -webkit-linear-gradient(top,  #eaaf4f 0%,#ed9c0d 100%);
background: -o-linear-gradient(top,  #eaaf4f 0%,#ed9c0d 100%);
background: -ms-linear-gradient(top,  #eaaf4f 0%,#ed9c0d 100%);
background: linear-gradient(to bottom,  #eaaf4f 0%,#ed9c0d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaaf4f', endColorstr='#ed9c0d',GradientType=0 );

	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.gen-btn-TOrange:active {
	border: 1px solid #011f02;
	
background: #c19041;
background: -moz-linear-gradient(top,  #c19041 0%, #b5760a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c19041), color-stop(100%,#b5760a));
background: -webkit-linear-gradient(top,  #c19041 0%,#b5760a 100%);
background: -o-linear-gradient(top,  #c19041 0%,#b5760a 100%);
background: -ms-linear-gradient(top,  #c19041 0%,#b5760a 100%);
background: linear-gradient(to bottom,  #c19041 0%,#b5760a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19041', endColorstr='#b5760a',GradientType=0 );

	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
	color: #fff
}