<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckLoginCredential</servlet-name>
        <servlet-class>supply.medium.home.superadmin.CheckLoginCredential</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuperAdminPower</servlet-name>
        <servlet-class>supply.medium.home.superadmin.SuperAdminPower</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuperAdminPower</servlet-name>
        <url-pattern>/SuperAdminPower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginCredential</servlet-name>
        <url-pattern>/CheckLoginCredential</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
