@CHARSET "ISO-8859-1";

.popuplayout {
	height: 302px;
	width: 602px !important;
	position: fixed;
	top: 30%;
	left: 35%;
}

.popupcontent {
	margin-top: 15px;
	margin-left: 20px;
}

.div_row {
	height: 30px;
	margin: 5px 0px 5px 10px;
	line-height: 12px;
	font-family: verdana;
}

.popup_label {
	float: left;
	width: 100px;
	line-height: 27px;
	font-size: 12px;
	font-family: Verdana;
	vertical-align: middle;
}


#popup_rating_review
{
	width: 401px;
	height: 119px;
}

#ProductCatlogForm label.error {
	width: 270px;
	color: red;
	padding-left: 10px;
	font-size: 11px;
	font-family: Verdana;
	line-height: 39px;
	margin: 0px;
	float: none;
}
