<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>SupplyMedium</display-name>
    <servlet>
        <description>
		</description>
        <display-name>
		CompanyRegnServlet</display-name>
        <servlet-name>CompanyRegnServlet</servlet-name>
        <servlet-class>
		servlet.regn.CompanyRegnServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		EntityLoaderServlet</display-name>
        <servlet-name>EntityLoaderServlet</servlet-name>
        <servlet-class>
		servlet.common.EntityLoaderServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		RegValidationServlet</display-name>
        <servlet-name>RegValidationServlet</servlet-name>
        <servlet-class>
		servlet.regn.validation.RegValidationServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		RegnActivateServlet</display-name>
        <servlet-name>RegnActivateServlet</servlet-name>
        <servlet-class>
		servlet.regn.RegnActivateServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		UserSignupServlet</display-name>
        <servlet-name>UserSignupServlet</servlet-name>
        <servlet-class>
		servlet.regn.UserSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>
		servlet.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		CompanyRegnResultServlet</display-name>
        <servlet-name>CompanyRegnResultServlet</servlet-name>
        <servlet-class>
		servlet.regn.CompanyRegnResultServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		ForgetPasswordServlet</display-name>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>
		servlet.login.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		PasswordResetServlet</display-name>
        <servlet-name>PasswordResetServlet</servlet-name>
        <servlet-class>
		servlet.login.PasswordResetServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		PasswordPolicyServlet</display-name>
        <servlet-name>PasswordPolicyServlet</servlet-name>
        <servlet-class>
		servlet.common.PasswordPolicyServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		DeptMgmtServlet</display-name>
        <servlet-name>DeptMgmtServlet</servlet-name>
        <servlet-class>
		servlet.dept.DeptMgmtServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		FolderMgmtServlet</display-name>
        <servlet-name>FolderMgmtServlet</servlet-name>
        <servlet-class>
		servlet.dept.FolderMgmtServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		DeptFetchServlet</display-name>
        <servlet-name>DeptFetchServlet</servlet-name>
        <servlet-class>
		servlet.dept.DeptFetchServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		GroupDeptMapServlet</display-name>
        <servlet-name>GroupDeptMapServlet</servlet-name>
        <servlet-class>
		servlet.dept.GroupDeptMapServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		UserDeptMapServlet</display-name>
        <servlet-name>UserDeptMapServlet</servlet-name>
        <servlet-class>
		servlet.dept.UserDeptMapServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		FolderDeptMapServlet</display-name>
        <servlet-name>FolderDeptMapServlet</servlet-name>
        <servlet-class>
		servlet.dept.FolderDeptMapServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		DeptPrivilegesServlet</display-name>
        <servlet-name>DeptPrivilegesServlet</servlet-name>
        <servlet-class>
		servlet.dept.DeptPrivilegesServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		GroupFetchServlet</display-name>
        <servlet-name>GroupFetchServlet</servlet-name>
        <servlet-class>
		servlet.usermgmt.GroupFetchServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		GroupMgmtServlet</display-name>
        <servlet-name>GroupMgmtServlet</servlet-name>
        <servlet-class>
		servlet.usermgmt.GroupMgmtServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		GroupPrivilegesServlet</display-name>
        <servlet-name>GroupPrivilegesServlet</servlet-name>
        <servlet-class>
		servlet.usermgmt.GroupPrivilegesServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		UserFetchServlet</display-name>
        <servlet-name>UserFetchServlet</servlet-name>
        <servlet-class>
		servlet.usermgmt.UserFetchServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		UserGroupMapServlet</display-name>
        <servlet-name>UserGroupMapServlet</servlet-name>
        <servlet-class>
		servlet.usermgmt.UserGroupMapServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>
		servlet.common.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		UserActivateServlet</display-name>
        <servlet-name>UserActivateServlet</servlet-name>
        <servlet-class>
		servlet.regn.UserActivateServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		AccountPolicyServlet</display-name>
        <servlet-name>AccountPolicyServlet</servlet-name>
        <servlet-class>
		servlet.usermgmt.AccountPolicyServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		UserFeedServlet</display-name>
        <servlet-name>UserFeedServlet</servlet-name>
        <servlet-class>
		servlet.feed.UserFeedServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		UserAcctMgmtServlet</display-name>
        <servlet-name>UserAcctMgmtServlet</servlet-name>
        <servlet-class>
		servlet.useracctmgmt.UserAcctMgmtServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		CompanyFeedServlet</display-name>
        <servlet-name>CompanyFeedServlet</servlet-name>
        <servlet-class>
		servlet.feed.CompanyFeedServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		VendorRegnServlet</display-name>
        <servlet-name>VendorRegnServlet</servlet-name>
        <servlet-class>
		servlet.vendorregn.VendorRegnServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		ManageFolderServlet</display-name>
        <servlet-name>ManageFolderServlet</servlet-name>
        <servlet-class>
		servlet.managefolder.ManageFolderServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		CompanyProfileLoaderServlet</display-name>
        <servlet-name>CompanyProfileLoaderServlet</servlet-name>
        <servlet-class>
		servlet.companyprofile.CompanyProfileLoaderServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		BusinessClassificationServlet</display-name>
        <servlet-name>BusinessClassificationServlet</servlet-name>
        <servlet-class>
		servlet.common.BusinessClassificationServlet</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>
		MyConnNetworkServlet</display-name>
        <servlet-name>MyConnNetworkServlet</servlet-name>
        <servlet-class>
		servlet.myconn.MyConnNetworkServlet</servlet-class>
    </servlet>
    <filter>
        <description>
        Check for multipart HttpServletRequests and parse the multipart form data so that all
        regular form fields are available in the parameterMap of the HttpServletRequest and that
        all form file fields are available as attribute of the HttpServletRequest. The attribute
        value of a form file field can be an instance of FileItem or FileUploadException.
    </description>
        <filter-name>multipartFilter</filter-name>
        <filter-class>servlet.common.MultipartFilter</filter-class>
        <init-param>
            <description>
            Sets the maximum file size of the uploaded file in bytes. Set to 0 to indicate an
            unlimited file size. The example value of 1048576 indicates a maximum file size of
            1MB. This parameter is not required and can be removed safely.
        </description>
            <param-name>maxFileSize</param-name>
            <param-value>0</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>multipartFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>
               utils.StartupUtil
          </listener-class>
    </listener>
    <listener>
        <listener-class>utils.SessionExpireListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dilbag</servlet-name>
        <servlet-class>dilbag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_login_credential</servlet-name>
        <servlet-class>a.wk.sm.database.check_login_credential</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>a.wk.sm.database.controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dilbag_upload</servlet-name>
        <servlet-class>dilbag_upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dilbag_upload2</servlet-name>
        <servlet-class>dilbag_upload2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdf_download</servlet-name>
        <servlet-class>pdf_download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quote_pdf_download</servlet-name>
        <servlet-class>quote_pdf_download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>po_pdf_download</servlet-name>
        <servlet-class>po_pdf_download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>invoice_pdf_download</servlet-name>
        <servlet-class>invoice_pdf_download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paypal</servlet-name>
        <servlet-class>paypal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dilbag</servlet-name>
        <url-pattern>/dilbag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_login_credential</servlet-name>
        <url-pattern>/check_login_credential</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dilbag_upload</servlet-name>
        <url-pattern>/dilbag_upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dilbag_upload2</servlet-name>
        <url-pattern>/dilbag_upload2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdf_download</servlet-name>
        <url-pattern>/pdf_download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quote_pdf_download</servlet-name>
        <url-pattern>/quote_pdf_download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>po_pdf_download</servlet-name>
        <url-pattern>/po_pdf_download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>invoice_pdf_download</servlet-name>
        <url-pattern>/invoice_pdf_download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paypal</servlet-name>
        <url-pattern>/paypal</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
