@CHARSET "ISO-8859-1" @Date Apr 19, 2013 @Author Anbu ;
.T_desc_container
{
	background: white;
}

.T_videoe_container
{
	height: 400px;
	width: 100%;
	background: #1b1b1b;
}

.T_desc_title
{
	line-height: 60px;
	padding-left: 10px;
}

.T_dec_content p
{
	text-align: justify;
	color: #6a6a6a;
	line-height: 28px;
	padding: 5px;
}

.T_home_video_bgm
{
	position:absolute;
	height:400px;
	width:100%;
	background: rgba(0, 0, 0, 0.64);
}