@CHARSET "UTF-8";

.logincontentcontainer
{
	height:auto;
	width:100%;
	background-color:#f1f1f1;
	padding-top:5%;
	padding-bottom:5%;
}

.logincontent
{
	width:630px;
	height:330px;
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;
	border : 1px solid #4cb6cf;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.title
{
	height:50px;
	background-color: #4cb6cf;
	line-height:50px;
	text-align:center;
	font-family:Verdana;
	font-size:22px;
	-moz-border-radius-topleft:9px;
	-moz-border-radius-topright:9px;
	border-top-right-radius:9px;
	border-top-left-radius:9px;
	border-bottom: 1px solid #4cb6cf;
	color:#fff;
}

.loginerr
{
	height:15px;
	line-height:15px;
	color:red;
	text-align:center;
}